/JavaFx3Dtest/nbproject/private/
/JavaFx3Dtest/dist/
/JavaFx3Dtest/build/
/Pokedex/nbproject/private/
/Pokedex/dist/
/Pokedex/build/
/JPokedex/nbproject/private/
/JPokedex/dist/
/JPokedex/build/
/data/3D-models.zip
/data/animated-gifs.zip